@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-appFont: montserrat, sans-serif;

  /* Light Mode */
  --color-container-mode-light: #e8f1f2;
  --color-border-mode-light: #13293d;
  --color-text-mode-light: var(--color-blue-950);
  --color-button-bg-mode-light: #006494;
  --color-button-text-mode-light: #e8f1f2;

  /* Dark Mode */
  --color-container-mode-dark: #000000;
  --color-border-mode-dark: #e8f1f2;
  --color-text-mode-dark: #e8f1f2;
  --color-button-bg-mode-dark: #e8f1f2;
  --color-button-text-mode-dark: #006494;
}

@layer components {
  .primaryButton {
    @apply bg-button-bg-mode-light text-button-text-mode-light hover:bg-button-text-mode-light hover:text-button-bg-mode-light
       dark:bg-button-bg-mode-dark dark:text-button-text-mode-dark dark:hover:bg-button-text-mode-dark dark:hover:text-button-bg-mode-dark;
  }
  .primaryText {
    @apply text-text-mode-light/85 dark:text-text-mode-dark;
  }
}

/*
#13293D
#006494
#247BAO
#1B98EO
#E8F1F2
*/

/*
Primary Button:   #006494 & #E8F1F2  (Light)
Primary Button:   #E8F1F2 & #13293D  (Dark)
*/
.active {
  /* background-color: #42a5f5; */
  /* border-bottom: 1px; */
  /* border-color: #000000; */
  /* color: #ffffff; */
}

/* .active {
  background: #ddd;
  color: #333;
  transition: 500ms ease;
}

nav a {
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
} */

/*
@theme {
  --font-titleFont: montserrat, sans-serif;
  --font-bodyFont: poppins, sans-serif;
  --color-bodyColor: #212428;
  --color-lightText: #c4cfde;
  --color-designColor: #ff014f;
  --background-image-boxBg: linear-gradient(145deg, #00ff00, #23272b);
  --shadow-shadowOne: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 375px;
  --breakpoint-sml: 500px;
  --breakpoint-md: 667px;
  --breakpoint-mdl: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-lgl: 1024px;
  --breakpoint-xl: 1280px;
}

@layer components {
  .bannerIcon {
    @apply w-16 h-16 bg-black/25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-black/40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }
  .resumeli {
    @apply w-full h-20 bg-black/25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-black/40 duration-300 items-center border-[1px] rounded-none;
  }
  .bgOpacity {
    @apply bg-black/40;
  }
  .contactInputFocus {
    @apply focus-within:outline focus-within:outline-designColor focus-within:rounded-lg;
  }
  .contactInput {
    @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 outline-none focus-visible:border-b-transparent duration-300;
  }
  .contactTextAreaFocus {
    @apply focus-within:outline focus-within:outline-designColor focus-within:rounded-lg;
  }
  .contactTextArea {
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 py-2 outline-none focus-visible:border-b-transparent duration-300 resize-none;
  }
}



*/
