@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-appFont: montserrat, sans-serif;

  /* Light Mode */
  --color-container-mode-light: #e8f1f2;
  --color-border-mode-light: #13293d;
  --color-text-mode-light: var(--color-blue-950);
  --color-button-bg-mode-light: #006494;
  --color-button-text-mode-light: #e8f1f2;

  /* Dark Mode */
  --color-container-mode-dark: #000000;
  --color-border-mode-dark: #e8f1f2;
  --color-text-mode-dark: #e8f1f2;
  --color-button-bg-mode-dark: #e8f1f2;
  --color-button-text-mode-dark: #006494;
}

@layer components {
  .primaryButton {
    @apply bg-button-bg-mode-light text-button-text-mode-light hover:bg-button-text-mode-light hover:text-button-bg-mode-light
       dark:bg-button-bg-mode-dark dark:text-button-text-mode-dark dark:hover:bg-button-text-mode-dark dark:hover:text-button-bg-mode-dark;
  }
  .primaryText {
    @apply text-text-mode-light/85 dark:text-text-mode-dark;
  }
}

/*
#13293D
#006494
#247BAO
#1B98EO
#E8F1F2
*/
